<script>
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        _paq.push(['setTrackerUrl', 'https://{{ matomoSiteId }}/matomo.php']);
        _paq.push(['setSiteId', "{{ matomoSiteId }}"]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://{{ matomoUrl }}/matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
