<template>
  <div>
    <v-chip
      small
      :color="monActive ? 'primary' : null"
    >
      {{ $t('ui.abbr.day.mon') }} 
    </v-chip>
    <v-chip
      small
      :color="tueActive ? 'primary' : null"
    >
      {{ $t('ui.abbr.day.tue') }}
    </v-chip>
    <v-chip
      small
      :color="wedActive ? 'primary' : null"
    >
      {{ $t('ui.abbr.day.wed') }} 
    </v-chip>
    <v-chip
      small
      :color="thuActive ? 'primary' : null"
    >
      {{ $t('ui.abbr.day.thu') }}
    </v-chip>
    <v-chip
      small
      :color="friActive ? 'primary' : null"
    >
      {{ $t('ui.abbr.day.fri') }} 
    </v-chip>
    <v-chip
      small
      :color="satActive ? 'primary' : null"
    >
      {{ $t('ui.abbr.day.sat') }}
    </v-chip>
    <v-chip
      small
      :color="sunActive ? 'primary' : null"
    >
      {{ $t('ui.abbr.day.sun') }}
    </v-chip>
    <p
      v-if="dateStartOfValidity && dateEndOfValidity"
      class="font-italic mt-1 caption"
    >
      {{ $t('valid') }}&nbsp;{{ formattedDateStartOfValidity }}&nbsp;{{ $t('dateValidUntil') }}&nbsp;{{ formattedDateEndOfValidity }}
    </p>
    <p
      v-else-if="dateEndOfValidity"
      class="font-italic mt-1"
    >
      {{ $t('dateValid') }}&nbsp;{{ formattedDateEndOfValidity }}
    </p>
  </div>
</template>

<script>
import moment from "moment";
import { merge } from "lodash";
import Translations from "@translations/components/carpool/utilities/RegularDaysSummary.json";
import TranslationsClient from "@clientTranslations/components/carpool/utilities/RegularDaysSummary.json";

let TranslationsMerged = merge(Translations, TranslationsClient);
export default {
  i18n: {
    messages: TranslationsMerged
  },
  props: {
    monActive: {
      type: Boolean,
      default: false
    },
    tueActive: {
      type: Boolean,
      default: false
    },
    wedActive: {
      type: Boolean,
      default: false
    },
    thuActive: {
      type: Boolean,
      default: false
    },
    friActive: {
      type: Boolean,
      default: false
    },
    satActive: {
      type: Boolean,
      default: false
    },
    sunActive: {
      type: Boolean,
      default: false
    },
    dateEndOfValidity: {
      type: String,
      default: null
    },
    dateStartOfValidity: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      locale: this.$i18n.locale,
    }
  },
  computed: {
    formattedDateEndOfValidity () {
      return this.dateEndOfValidity
        ? moment(this.dateEndOfValidity).format(this.$t("ui.i18n.date.format.shortCompleteDate"))
        : "";
    },
    formattedDateStartOfValidity () {
      return this.dateStartOfValidity
        ? moment(this.dateStartOfValidity).format(this.$t("ui.i18n.date.format.shortCompleteDate"))
        : "";
    }
  },
  created() {
    moment.locale(this.locale); // DEFINE DATE LANGUAGE
  }
};
</script>
<style scoped lang="scss">
</style>