{# @var community \Mobicoop\Bundle\MobicoopBundle\Community\Entity\Community #}
{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans from 'ui' %}events.event.title{% endtrans %} - {{ app_name }}{% endblock %}
{% block stylesheets %}
    {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}community/community") }}#}
{% endblock %}
{% block main %}
    <event
        :event="{{ event|json_encode }}"
        :geodata="{{ {'geocompleteuri':geoCompleteUri, 'searchroute':searchRoute}|json_encode }}"
        :user="{{ app.user|json_encode }}"
        :map-provider="{{ mapProvider|json_encode }}"
        :url-tiles="{{ urlTiles|json_encode }}"
        :attribution-copyright="{{ attributionCopyright|json_encode }}"
        url-alt-avatar="{{ urlAltCommunityAvatar }}"
        avatar-version="{{ communityAvatarVersion }}"
        :init-origin = "{{ origin is defined ? origin : 'null' }}"
        :init-destination = "{{ destination is defined ? destination|json_encode : 'null' }}"
        {{ searchPunctualDate ? 'punctual-date-optional' : '' }}
        :points="{{ points|json_encode }}"
    ></event>
{% endblock %}
