{# @var community \Mobicoop\Bundle\MobicoopBundle\Community\Entity\Community #}
{% extends '@Mobicoop/base.widget.html.twig' %}

{% block title %}{% trans from 'ui' %}events.widget.title{% endtrans %}{% endblock %}
{% block main %}
    <event-widget
        :event="{{ event|json_encode }}"
        :geodata="{{ {'geocompleteuri':geoCompleteUri, 'searchroute':searchRoute}|json_encode }}"
        :user="{{ app.user|json_encode }}"
        url-alt-avatar="{{ urlAltCommunityAvatar }}"
        avatar-version="{{ communityAvatarVersion }}"
    ></event-widget>
{% endblock %}
