{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
    {{ app_name }}
{% endblock %}

{% block stylesheets %}
    {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}home/home") }}#}
{% endblock %}

{% block main %}

    <home
        geo-search-url="{{ geoCompleteUri }}" 
        :user="{{app.user|json_encode}}"
        {{ searchRegular ? 'regular' : '' }}
        {{ searchPunctualDate ? 'punctual-date-optional' : '' }}
        :community-display="{{homeCommunityDisplay}}"
        :event-display="{{homeEventDisplay}}"
        :solidary-display="{{homeSolidaryDisplay}}"
        :display-delete-account="{{logout is defined ? 1 : 0}}"
        :display-unsubscribe-email="{{ unsubscribe is defined ? unsubscribe : 'null' }}"
    />

{% endblock %}

