{% extends '/email/notification/base.html.twig' %}
{% block body %}    
<table style="width:100%;font-family:{{api_env('EMAILS_FONT')}}, sans-serif;">
    <tr>
        <td>
            <table style="width:100%;">
                <tr>
                    <td style="width:70%">
                        <p>{{ "hello"|trans }}<b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}"> {{context.recipient.givenName|capitalize}} {{context.recipient.shortFamilyName|capitalize}}</b></p>
                        <p><b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}"> {{context.senderGivenName|capitalize}}  {{context.senderShortFamilyName|capitalize}} </b> {{ "newMembershipSubscriber"|trans }} <b>{{context.community.name}}</b></p>
                        <p> {{ "seeYouInAdmin" | trans }} <a href="{{ api_env('URL_ADMIN') }}">{{"clickHere" |trans }}</a> </p>
                        <p>{{ "thankYouTeam"|trans({'%instanceName%':api_env('EMAILS_PLATFORM_NAME')}) }}</p>
                   </td>
                </tr>
            </table>
        </td>
    </tr>
    </hr>
</table>
{% endblock %}    