{% extends '/email/notification/base.html.twig' %}
{% block body %}
    <p>{{ "theUser"|trans }} <b>{{ context.email }}</b> {{ "reportThatEvent"|trans }} <b>{{ context.eventName }}</b></p>
    <p>{{ "explanationOfTheReport"|trans }} : {{ context.description }}</p>
    <p>{{"signature"|trans}} <a style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}" href="{{api_env('EMAILS_PLATFORM_URL')}}">{{api_env('EMAILS_PLATFORM_NAME')}}</a>
{% endblock %}
