{% extends '/email/notification/base.html.twig' %}
{% block body %}

    <table align="center" style="border-spacing:0;text-align:left;vertical-align:top;width:100%;margin-top:20px;font-family:Roboto, sans-serif;">
    <tr>
        <td>
            <p>{{ "hello"|trans }}<b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}"> {{context.user.givenName|capitalize}} {{context.user.shortFamilyName|capitalize}}</b>.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p> {{ "youReceivedExternalContact"|trans }} <strong>{{ "youReceivedExternalContactOrigin"|trans({'%origin%':context.origin}) }}</strong>.</p>
        </td>
    </tr> 
    <tr>
        <td>
            <p>{{ "journeyDetail"|trans }} <strong>{{ "journeyDetailOrigin"|trans({'%journeyOrigin%':context.journeyOrigin}) }}</strong> {{ "journeyDetailTo"|trans }} <strong>{{ "journeyDetailDestination"|trans({'%journeyDestination%':context.journeyDestination}) }}</strong> {{ "journeyDetailTime"|trans({'%journeyDate%':context.journeyDate,'%journeyTime%':context.journeyTime}) }}</p>
        </td>
    </tr> 
    <tr>
        <td>
            <p><strong>{{ "rdexMessage"|trans }} :</strong></p>  
            <hr />
            <p>{{ context.text | nl2br }}</p>
            <hr />
        </td>
    </tr> 
    <tr>
        <td>  
            <p>{{ "noDirectResponse"|trans({'%instanceName%':api_env('EMAILS_PLATFORM_NAME')}) }}</p>
            <p>{{ "useDirectContact"|trans }}</p>
        </td>
    </tr> 
    <tr>
        <td>
            <p>{{"signature"|trans}} <a style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}" href="{{api_env('EMAILS_PLATFORM_URL')}}">{{api_env('EMAILS_PLATFORM_NAME')}}</a>
        </td>
    </tr>
    </table>    
{% endblock %}