{% extends '/email/notification/base.html.twig' %}
{% block body %}
    <p>{{ "hello"|trans }}<b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}"> {{context.user.givenName|capitalize}} {{context.user.shortFamilyName|capitalize}}</b>.</p>
    <p>{{ "yourInscriptionAt" |trans }}  {{api_env('EMAILS_PLATFORM_NAME')}}  {{ "wellTakenIntoAccount" |trans }}.</p>
    <p>{{ "clickHereToConfirm" |trans}} : <a href="{{ api_env('EMAILS_PLATFORM_URL') }}{{  "urlEmailValidation" |trans }}{{ context.user.email }}/{{ context.user.emailToken }}" title="">{{ api_env('EMAILS_PLATFORM_URL') }}{{ "urlEmailValidation" |trans }}{{ context.user.email }}/{{ context.user.emailToken }}</a>.</p>
    <p>{{"orUseTheValidationCode" |trans }} : {{ context.user.emailToken }}</p>
    {% if context.user.passwordSendType == 2 %}
    <p>{{"yourPasswordIs" |trans }} : {{ context.user.clearPassword }}</p>
    {% elseif context.user.passwordSendType == 1 %}
    <p>{{"yourPasswordHasBeenSendBySms" |trans }}</p>
    {% endif %}
    <p>{{"signature"|trans}} <a style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}" href="{{api_env('EMAILS_PLATFORM_URL')}}">{{api_env('EMAILS_PLATFORM_NAME')}}</a>
{% endblock %}