{{"hello"|trans|raw}} {{context.user.givenName|capitalize}} {{context.user.shortFamilyName|capitalize}}
{{"newAdPublished"|trans|raw}}!
{{"appointmentIn"|trans|raw}} {{api_env('PUSH_PLATFORM_NAME')}}
{{"signature"|trans|raw}} {{api_env('PUSH_PLATFORM_NAME')}}