{{"hello"|trans}} {{context.user.givenName|capitalize}} {{context.user.shortFamilyName|capitalize}}
{{ "inFewDays"|trans|raw }}.
{{"renewYourAdsOn"|trans|raw}} {{api_env('PUSH_PLATFORM_NAME')}}.
{{"signature"|trans|raw}} {{api_env('PUSH_PLATFORM_NAME')}}