{{"hello"|trans|raw}} {{context.user.givenName|capitalize}} {{context.user.shortFamilyName|capitalize}}
Votre mot de passe sur {{api_env('PUSH_PLATFORM_NAME')}} : {{ context.user.clearPassword }}
{{"signature"|trans|raw}} {{api_env('PUSH_PLATFORM_NAME')}}

