{% set ad = context.ad %}
{% set recipient = context.user %}
{% set sender = context.sender %}
{% set result = context.result %}
{% set outwardOrigin = context.outwardOrigin %}
{% set outwardDestination = context.outwardDestination %}
{% set returnOrigin = context.returnOrigin %}
{% set returnDestination = context.returnDestination %}

{{"hello"|trans|raw}} {{context.user.givenName|capitalize}} {{context.user.shortFamilyName|capitalize}}
{% if ad.results[0].frequency == 1 %}
{{sender.givenName|capitalize}} {{sender.shortFamilyName|capitalize}} {{"refusedAsk"|trans|raw}} {{ outwardOrigin.address.displayLabel[0] }} {{"at"|trans|raw}} {{ outwardDestination.address.displayLabel[0] }}. {{"goTotheSite"|trans|raw}} {{api_env('SMS_PLATFORM_NAME')}}.
{% else %}
{{sender.givenName|capitalize}} {{sender.shortFamilyName|capitalize}} {{"refusedAskReguar"|trans|raw}} {{ outwardOrigin.address.displayLabel[0] }} {{"at"|trans|raw}} {{ outwardDestination.address.displayLabel[0] }}. {{"goTotheSite"|trans|raw}} {{api_env('SMS_PLATFORM_NAME')}}.
{% endif %}
{{"signature"|trans|raw}} {{api_env('SMS_PLATFORM_NAME')}}