{{"hello"|trans|raw}} {{context.user.givenName|capitalize}} {{context.user.shortFamilyName|capitalize}}
{{ "youHaveAMessage"|trans|raw }}.
{{"lookYourMessaging"|trans|raw}} {{api_env('SMS_PLATFORM_NAME')}}.
{{"signature"|trans|raw}} {{api_env('SMS_PLATFORM_NAME')}}