{% set ask = context.ask %}
{% set recipient = context.user %}
{% if recipient.id == ask.user.id %}
    {% set deleter = ask.userRelated %}
{% else %}
    {% set deleter = ask.user %}
{% endif %}
{{"hello"|trans|raw}} {{recipient.givenName|capitalize}} {{recipient.shortFamilyName|capitalize}}
{{deleter.givenName|capitalize}} {{deleter.shortFamilyName|capitalize}} {{"carpoolDeleted"|trans|raw}} {{ context.origin.address.displayLabel[0] }} {{"at"|trans|raw}} {{ context.destination.address.displayLabel[0] }}. {{"findNewCarpool"|trans|raw}} {{api_env('SMS_PLATFORM_NAME')}}.
{{"signature"|trans|raw}} {{api_env('SMS_PLATFORM_NAME')}}