{{"hello"|trans|raw}} {{context.user.givenName|capitalize}} {{context.user.shortFamilyName|capitalize}}
{{ "yourValidationToken"|trans|raw }}: {{context.user.phoneToken}}
{{"signature"|trans|raw}} {{api_env('SMS_PLATFORM_NAME')}}