{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
  {% trans from 'ui' %}user.signup.title{% endtrans %} - {{ app_name }}
{% endblock %}
{% block stylesheets %}
  {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}user/signup") }}#}
{% endblock %}
{% block main %}
        {% if error %}
            <span class="tag is-danger">An error occured.</span>
        {% endif %}

            <Signupform
                    age-min="{{ ageMin }}"
                    age-max="{{ ageMax }}"
                    geo-search-url="{{ geoCompleteUri }}"
                    sent-token="{{ csrf_token('user-signup') }}"
                    :show-facebook-sign-up = "{{ facebook_show ? "true" : "false" }}"
                    facebook-login-app-id = "{{ facebook_appid }}"
                    :required-home-address = "{{ required_home_address ? "true" : "false" }}"
                    :community-show = "{{ community_show ? "true" : "false"  }}"
            />

        

{% endblock %}