{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
  {% trans from 'ui' %}user.signupValidation.title{% endtrans %} - {{ app_name }}
{% endblock %}
{% block stylesheets %}
  {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}user/signup") }}#}
{% endblock %}
{% block main %}

<Signup-validation 
  url-token="{{ urlToken }}"
  url-email="{{ urlEmail }}"
  error="{{ error }}" />

{% endblock %}