{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
  {% trans from 'ui' %}user.profile.title{% endtrans %} - {{ app_name }}
{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block main %}

    		<Profile 
			:user="{{app.user|json_encode}}"
			geo-search-url="{{ geoCompleteUri }}"
 			age-min="{{ ageMin }}"
            age-max="{{ ageMax }}"
			avatar-size="{{ userAvatarSize }}"
        	:alerts="{{ alerts|json_encode }}"
			:platform="{{ app_name|json_encode }}"
            :ads="{{ ads|json_encode }}"
			:accepted-carpools="{{ acceptedCarpools|json_encode }}"
            tab-default="{{ tabDefault }}"
            ></Profile>

{% endblock %}
