{# @var community \Mobicoop\Bundle\MobicoopBundle\Community\Entity\Community #}
{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans from 'ui' %}communities.community.title{% endtrans %} - {{ app_name }}
{% endblock %}
{% block stylesheets %}
    {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}community/community") }}#}
{% endblock %}
{% block main %}

    <community

        :community="{{ community|json_encode }}"
        :geodata="{{ {'geocompleteuri':geoCompleteUri, 'searchroute':searchRoute}|json_encode }}"
        :user="{{ app.user|json_encode }}"
        :map-provider="{{ mapProvider|json_encode }}"
        :url-tiles="{{ urlTiles|json_encode }}"
        :attribution-copyright="{{ attributionCopyright|json_encode }}"
        url-alt-avatar="{{ urlAltCommunityAvatar }}"
        avatar-version="{{ communityAvatarVersion }}"
        {{ searchRegular ? 'regular' : '' }}
        {{ searchPunctualDate ? 'punctual-date-optional' : '' }}
        :points="{{ points|json_encode }}"
        :last-users="{{ lastUsers|json_encode }}"
        :user-community-status="{{ communityUserStatus }}"
        :url-admin="{{urlAdmin|json_encode}}"
        :can-access-admin-from-community="{{canAccessAdminFromCommunity}}"
    ></community>
{% endblock %}
