{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
    {% trans from 'ui' %}contact.title{% endtrans %} - {{ app_name }}
{% endblock %}
{% block stylesheets %}
    {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}contact/contact") }}#}
{% endblock %}

{% block main %}
   <contact
        :user="{{ app.user|json_encode }}"
        :contact-types="{{ contactTypes }}"
    ></contact>
{% endblock %}
